.landing {
  padding-top: 5rem;
}

.landing__title {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 28px;
}

.landing__subtitle {
  width: 300px;
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.landing__getStarted {
  margin: 0 auto;
  padding: 10px 15px;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  border: 2px solid white;
  background-color: rgba(244, 56, 98, 1);
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(253, 203, 50, 1) 0%, rgba(244, 56, 98, 1) 100.2%);
}

.landing__pinkBubble1 {
  width: 140px;
  height: 140px;
  background-color: rgba(244, 56, 98, 1);
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(253, 203, 50, 1) 0%, rgba(244, 56, 98, 1) 100.2%);
  border-radius: 50%;
  position: absolute;
  right: 300px;
  top: 100px;
}

.landing__pinkBubble2 {
  width: 100px;
  height: 100px;
  background-color: rgba(244, 56, 98, 1);
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(253, 203, 50, 1) 0%, rgba(244, 56, 98, 1) 100.2%);
  border-radius: 50%;
  position: absolute;
  left: 200px;
  top: 300px;
}

.landing__pinkBubble3 {
  width: 80px;
  height: 80px;
  background-color: rgba(244, 56, 98, 1);
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(253, 203, 50, 1) 0%, rgba(244, 56, 98, 1) 100.2%);
  border-radius: 50%;
  position: absolute;
  right: 500px;
  top: 400px;
}

.landing__darkBubble1 {
  width: 110px;
  height: 110px;
  background: black;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 1) 10%, rgb(41, 47, 53) 100%);
  border-radius: 50%;
  position: absolute;
  left: 400px;
  top: 100px;
}

.landing__darkBubble2 {
  width: 70px;
  height: 70px;
  background: black;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 1) 10%, rgb(43, 47, 51) 100%);
  border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  right: 100px;
  top: 400px;
}