.todo {
  min-height: 40px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  border-radius: 5px;
  border: 1px solid rgba(255,
255,
255,
0.575);
}

.todo__wrapper {
  display: flex;
  align-items: center;
}

.todo__wrapper svg {
  margin-right: 5px;
}

.todo__item {
  list-style: none;
  text-transform: capitalize;
  max-width: 87%;
  color: white;
}

.todo__btn {
  display: flex;
  align-items: center;
}

.todo__btn svg:first-child {
  margin-right: 5px;
}