.signIn,
.signUp,
.reset {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

.signIn__title,
.singUp__title,
.reset__title {
  text-align: center;
  margin-bottom: 1rem;
}

.signIn__wrapper,
.signUp__wrapper,
.reset__wrapper {
  width: 90%;
  max-width: 400px;
}

.signIn__fromWrapper,
.signUp__fromWrapper,
.reset__formWrapper {
  background-color: #242430;
  border-radius: 5px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signIn__FormRow,
.signUp__FormRow,
.reset__formRow {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  flex-direction: column;
}

.signIn__FormRow input,
.signUp__FormRow input,
.reset__formRow input {
  height: 35px;
  width: 100%;
  padding-left: 1rem;
  border-radius: 5px;
  border: none;
}

.signIn__FormRow label,
.signUp__FormRow label,
.reset__formRow label {
  margin: 5px 0;
}