header {
  background-color: #1D1D26;
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: calc(1rem - 5px);
  max-width: 1000px;
}

.header__userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.header__name {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.header__title {
  text-align: center;
  color: whitesmoke;
  margin-right: 1rem;
}

.header__btns {
  display: flex;
}

.header__btns button:first-child {
  margin-right: 1rem;
}

@media screen and (max-width: 600px) {
  .header__btns button {
    font-size: 11px;
    padding: 5px 8px;
  }

  .header__title {
    font-size: 19px;
    padding-right: 0.5rem;
  }

  .header__name {
    font-size: 11px;
  }

  .header__userInfo {
    display: block
  }
}