.addTodo {
  margin-top: 1rem;
}
.addTodo__input {
  height: 40px;
  width: 280px;
  border-radius: 5px 0 0 5px;
  border: none;
  padding-left: 1rem;
  
}
.addTodo__input:focus {
  outline: none;
}
.addTodo__btn {
  border-radius: 0 5px 5px 0;
  width: 50px;
  height: 40px;
  background-color: #FC5565;
  border: none;
  color: white;
}
