.signIn,
.signUp,
.reset {
  background-color: rgb(0, 0, 41);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signIn__title,
.singUp__title,
.reset__title {
  text-align: center;
  color: white;
  margin-bottom: 1rem;
}

.signIn__wrapper,
.signUp__wrapper,
.reset__wrapper {
  width: 50vh;
}

.signIn__fromWrapper,
.signUp__fromWrapper,
.reset__formWrapper {
  background-color: rgb(124, 124, 255);
  min-height: 50vh;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signIn__FormRow,
.signUp__FormRow,
.reset__formRow {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  flex-direction: column;
}

.signIn__FormRow input,
.signUp__FormRow input,
.reset__formRow input {
  height: 35px;
  width: 100%;
  padding-left: 1rem;
  border-radius: 5px;
  border: none;
}
.signIn__FormRow label,
.signUp__FormRow label,
.reset__formRow label {
  margin: 5px 0;
}

.signIn__Btn,
.signUp__Btn,
.reset__btn {
  width: 100%;
  height: 35px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
}

.signIn--btn {
  background-color: #9ddfd3;
}

.signUp--btn,
.reset--btn {
  background-color: #ffc93c;
}

.signOut--btn {
  background-color: #f06565;
}