.signIn__Btn,
.signUp__Btn,
.reset__btn {
  width: 100%;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;


}

.signIn--btn {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(55, 227, 181, 1) 0%, rgba(78, 228, 126, 0.54) 90%);
}

.signOut--btn {
  background-image: linear-gradient(107.2deg, rgba(150, 15, 15, 1) 10.6%, rgba(247, 0, 0, 1) 91.1%);

}

.reset--btn {
  background-color: gray;
}

.signUp--btn {
  background-color: rgba(244, 56, 98, 1);
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(253, 203, 50, 1) 0%, rgba(244, 56, 98, 1) 100.2%);
}

.signIn--btn,
.signUp--btn,
.signOut--btn,
.reset--btn {

  border: 2px solid white;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  padding: 10px 15px;
  cursor: pointer;
}