.signIn__Btn,
.signUp__Btn,
.reset__btn {
  width: 100%;
  height: 35px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
}

.signIn--btn {
  background-color: #9ddfd3;
}

.signUp--btn,
.reset--btn {
  background-color: #ffc93c;
}

.signOut--btn {
  background-color: #f06565;
}