.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EBDDF2;
  height: 100vh;
  
}
.App__title {
  text-align: center;
  color: whitesmoke;
}
header {
  background-color: #7646FF;
  padding: 1rem;
  max-width: 375px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(1rem - 5px);
}